.nav {
  background-color: $nav-background-color;
  @include clearfix;
  font-size: 0.9em;
}

  .nav ul.nav-list {
    margin-left: -14px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
  }

    .nav ul.nav-list > li {
      float: left;
    }

  .nav-item {
    color: $nav-link-color;
    position: relative;
    display: block;
    padding: 15px 14px;
  }

  .nav-item:hover, .nav-item:focus, .nav-item[aria-selected="true"] {
    color: $nav-link-color-active;
    text-decoration: none;
  }

  .nav-item[aria-selected="true"]:before {
    position: absolute;
    content: '';
    top: 0;
    left: 14px;
    right: 14px;
    height: 2px;
    background: $nav-active-highlight-color;
    z-index: 0;
  }
