/* =Global styles
======================================================================= */

::-moz-selection {
  background-color: $blue;
  color: #fff;
}

::selection {
  background-color: $blue;
  color: #fff;
}

body {
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

/* --- */

.wrapper.content {
  min-height: 500px;
  padding-bottom: 400px;
}

.full-width {
  width: 100%;
}

section#head {
  margin-top: 1em;
}

.components-container {
  min-height: 100px;
}

.component {
  margin: 2em 0;
  @include clearfix;
}

.component.photoset {
  padding: 1em 0;
  background-color: #fafafa;
}

.component .photos {
  min-height: 100px;
  display: inline-block;
  float: left;
}

.component .dropzone {
  background: #f1f1f1;
  min-height: 100px;
  width: 200px;
  display: inline-block;
  float: left;
}

.gallery figure {
  display: inline-block;
}

form {
  .title {
    font-size: 2em;
  }

  .metadata {
    background: #fafafa;
    padding: 1em;
    font-size: 0.8em;

    .field {
      display: inline-block;
      margin-right: 2em;
    }

    label {
      display: inline;
    }

    input, select {
      display: inline;
      width: auto;
    }
  }

  textarea {
    border: none;
  }
}

.img-thumbnail {
  float: left;
  margin-right: 0.5em;
}

.components-toolbar {
  background-color: #f1f1f1;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;

  h4 {
    font-size: 1em;
    float: left;
    padding: 1em;
  }

  ul {
    float: left;
    list-style-type: none;

    li {
      display: inline-block;
      margin-right: 1em;
    }
  }
}


