
.dropdown {
  position: relative;
}

.dropdown > a {
  display: block;
}

.dropdown > a .caret {
  font-size: 10px;
}

.dropdown ul {
  background: $nav-background-color;
  padding: 1px;
  position: absolute;
  left: 0px;
  top: $nav-height;
  width: 200px;
  box-shadow: 0px 0px 5px 0px rgba(56,70,78,0.33);
  display: none;
  opacity: 0;
  visibility: hidden;
  z-index: 999;

  border-bottom-color: rgb(119, 119, 119);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-left-color: rgb(119, 119, 119);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(119, 119, 119);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(119, 119, 119);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-style: none;
  border-top-width: 0px;
}

.dropdown ul li {
  display: block;
  color: #fff;
}

.dropdown ul li.separate {
  margin: 4px 0 0 0;
  padding: 4px 0 0 0;
  border-top: 1px solid rgba(255,255,255,0.15);
}

.dropdown ul li a {
  display: block;
  padding: 12px;
}


.dropdown ul.visible {
  display: block;
  opacity: 1;
  visibility: visible;
}

.dropdown a {
  color: $nav-link-color;
}

.dropdown a:hover {
  color: $nav-link-color-active;
}

.dropdown ul li a:hover {
  color: #fff;
  background: $blue;
}

.dropdown ul li a:active {
  color: #fff;
  background: $blue;
}
