
@mixin clear-user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text-center { text-align: center }
.text-right  { text-align: right  }

.text-muted  { color: #82888a }

.pull-left  { float: left  !important }
.pull-right { float: right !important }

.img-circle { border-radius: 50% }

.fixed {
  position: fixed;
}
