
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(32,33,33,0.90);
  z-index: 2002;
  overflow: auto;
  display: none;
}

  .modal .modal-container {
    margin: 100px auto;
    width: 400px;
    min-height: 240px;
    background: #F9F9F9;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.49);
    border-radius: 5px;
    position: relative;
  }

  .modal .modal-container form {
    margin: 20px 30px;
  }

    .modal .modal-container form .form-footer {
      border-top: 1px $base-border-color solid;
      text-align: right;
      padding-top: 1em;
    }

    .modal .modal-container form .form-footer .destroy-link {
      float: left;
      margin-top: 0.5em;
    }

  .modal .modal-spinner {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    border-radius: 3px;
    z-index: 100;

    i {
      display: block;
      margin-top: 1em;
      font-size: 5em;
    }
  }
